.missionContainer {
  border: 1px solid lightgray;
  margin: 2em;
}

th,
td {
  padding: 1em;
  text-align: left;
  border: 1px solid lightgray;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

span {
  padding: 0.25em 1em;
  border-radius: 0.5rem;
  background-color: gray;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

button {
  padding: 0.5em 0.75em;
  font-size: 0.95em;
  border: 1px solid black;
  border-radius: 0.35rem;
  cursor: pointer;
}

.mainTh {
  min-width: 6em;
}

.descriptionTh {
  min-width: 25em;
}

.statusTh {
  min-width: 9em;
}

.btnTh {
  min-width: 8em;
}

.btnCell {
  text-align: center;
}

.profile-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
}

.profile-cont div {
  width: 40%;
}

.profile-cont div ul {
  padding: 0;
  list-style-type: none;
}

.tdTitle {
  font-weight: bold;
}

.leaveMissionBtn {
  padding: 0.5em 0.75em;
  font-size: 0.95em;
  border: 1px solid green;
  border-radius: 0.35rem;
  cursor: pointer;
}
